*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Site */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 850px;
  width: 70%;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0rem;
}

.hangman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

.O {
  max-width: 20px;
  border: 10px solid black;
  padding: 40px;
  border-radius: 50%;
}

.I {
  margin-left: 45px;
  border-left: 10px solid black;
  height: 100px;
}

.L {
  position: absolute;
  top: 175px;
  left: 5px;
  padding: 40px;
  rotate: 45deg;
  border-left: 10px solid black;
}

.L2 {
  position: absolute;
  top: 120px;
  left: 60px;
  padding: 40px;
  rotate: -45deg;
  border-left: 10px solid black;
}

.I1 {
  margin-left: 20px;
  rotate: 25deg;
  border-left: 10px solid black;
  height: 100px;
}

.I2 {
  position: absolute;
  top: 220px;
  left: 45px;
  margin-left: 20px;
  rotate: -25deg;
  border-left: 10px solid black;
  height: 100px;
}

/* Words */

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  gap: 3rem;
  cursor: pointer;
}

h2 {
  padding: 2rem 0rem;
}

.word {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.word > .toggle {
  display: none;
}

.line-under {
  display: block;
  height: 2px;
  width: 20px;
  background-color: black;
}

.word-wrapper {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 2rem;
  padding-top: 2rem;
}

.pick-word {
  cursor: pointer;
}

.remove {
  display: none;
}
